---
import Container from '../core/Container.astro';

const { background, color } = Astro.props;
---

<footer
	id="contact"
	style={background && `--footer-bg:${background}; --footer-color:${color}`}
>
	<Container>
		<div class="footer-bottom">
			<p>
				Copyright &copy; {new Date().getFullYear()} Meadow Walk Housing Co-op. All
				Rights Reserved
			</p>
		</div>
	</Container>
</footer>

<style>
	footer {
		--footer-bg: var(--theme-primary);
		--footer-color: var(--theme-on-primary);
		background-color: var(--footer-bg);
		color: var(--footer-color);
		border-top-left-radius: var(--theme-shape-radius);
		border-top-right-radius: var(--theme-shape-radius);
	}

	footer p {
		margin: 0;
	}

	.footer-bottom {
		padding: 1rem 0;
		text-align: center;
	}
</style>
