---
import { Icon } from 'astro-icon/components';
import {
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import { resolveUrl } from '@utils/helpers';
---

<Layout>
	<TextAndImageHero>
		<div slot="text-container">
			<h1>Welcome to Meadow Walk Housing</h1>
			<p>Comfortable living in a vibrant community.</p>
		</div>

		<picture slot="image-container">
			<img
				src={resolveUrl('/assets/images/one_scale,w_1400.jpg')}
				alt="Meadow Walk Housing"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Anyone who knows housing co-ops will tell you that they are much more than bricks-and-mortar or a roof over your head. Housing co-ops are made up of people who form a close bond of association and work together to provide safe, secure and affordable homes for their members."
		customerName="CHF BC"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>About Co-op?</h2>
			<p>
				Even though many people are members of co-operatives (like credit
				unions, or Modo, the Cooperators or Peninsula Co-op), co-ops—and
				especially housing co-ops—are less familiar than limited companies and
				charities.
			</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h2>Our Community</h2>
			<p>
				Meadow Walk Housing Co-op is situated in Central Richmond, British
				Columbia, and comprises 63 residences, including 24 townhouses and 39
				apartments. Our townhouses feature either 2 or 3 levels, while our
				apartments range from 1 to 3 bedrooms.
			</p>
		</div>
		<Button slot="column-2-cta">Learn More</Button>
		<div slot="column-3-body">
			<h2>Applications</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
				tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
				consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
				mollitia cumque. Velit.
			</p>
		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

	<!-- <YouTubeEmbedSection
		url="https://www.youtube.com/watch?v=kWfbLPmOeTs"
		rounded
	/> -->

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Become a Member Today!</h2>
		<p>
			Interested in becoming a member of Meadow Walk Housing Co-operative? Click
			here to start the application process.
		</p>
		<Button href="theme/get-started" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
<style>
	#home-hero-image {
		border-radius: var(--theme-shape-radius);
		box-shadow:
			rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
			rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	}
</style>
