<section class="process-section">
	<h2>Application Process</h2>
	<blockquote>
		Our application pool doesn't operate on a first-come-first-served basis
	</blockquote>
	<p>Our <strong>member selection</strong> involves several steps:</p>
	<ul class="principles-list">
		<li>
			<strong>Application:</strong>
			<u
				>Our application pool doesn't operate on a first-come-first-served
				basis.</u
			> When a unit becomes available, the Membership Committee considers all current
			applications for that unit size and selects households for interviews based
			on the thoroughness and accuracy of their applications, as well as the needs
			of the community.
		</li>
		<li>
			<strong>Interview:</strong> When a unit is available, selected applicants will
			be invited to attend an interview. This gives us the chance to explain how
			the co-op works, see where your skills might fit into co-op life, and answer
			your questions.
		</li>
		<li>
			<strong>Screening:</strong> We conduct checks on landlords, employment and
			personal references and we perform credit checks on all applicants.
		</li>
		<li>
			<strong>Approval:</strong> Our elected Board has the final approval of all
			applicants based on the recommendation of your interview team.
		</li>
		<li>
			<strong>Sign Up:</strong> If you are accepted to the co-op, you will need to
			make an appointment with our office to sign all your papers, pay your shares,
			and bring in any other required documents.
		</li>
	</ul>
</section>

<style>
	.process-section {
		padding: 0 1rem;
		margin-bottom: 4rem;
	}
	.process-section h2 {
		font-size: 2rem;
		margin-bottom: calc(2rem * 1.5);
	}
	.process-section p {
		font-size: 1rem;
	}
	.process-section li {
		margin-bottom: 1rem;
	}
</style>
