---
import { resolveUrl } from '@utils/helpers';
---

<section class="core-principles">
	<div class="core-principles-section">
		<h2 class="section-title">Core Principles</h2>
		<p>The core principles of cooperative living include:</p>
		<ul class="principles-list">
			<li>
				<strong>Open Membership:</strong> Encouraging inclusivity and diversity.
			</li>
			<li>
				<strong>Democratic Member Control:</strong> Ensuring each member has a say
				in governance.
			</li>
			<li>
				<strong>Community Participation:</strong> Engaging actively in the upkeep
				of the community.
			</li>
			<li>
				<strong>Social Engagement:</strong> Building connections among members.
			</li>
			<li>
				<strong>Member Education:</strong> Promoting knowledge and skills for effective
				participation.
			</li>
		</ul>
	</div>

	<div class="our-federation">
		<h2>Our Federation</h2>
		<img src={resolveUrl('/assets/images/CHF-BC-logo.jpg')} alt="CHF BC Logo" />
		<p>
			The Co-operative Housing Federation of BC (CHF BC) is a co-operative
			association whose members are housing co-ops and related organizations in
			British Columbia...
		</p>
		<p>
			<a href="https://www.chf.bc.ca/" target="_blank"
				>Click here to learn more about CHF BC.</a
			>
		</p>
	</div>
</section>

<style>
	.core-principles {
		padding: 0 1rem;
		margin-bottom: 4rem;
	}
	.core-principles h2 {
		font-size: 2rem;
		margin-bottom: calc(2rem * 1.5);
	}
	.core-principles img {
		margin: 1rem 0;
		border-radius: var(--theme-shape-radius);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
	.core-principles p {
		font-size: 1rem;
	}

	.core-principles-section {
		background-color: var(--theme-surface-2);
		padding: 2rem;
		border-radius: var(--theme-shape-radius);
	}
	.our-federation {
		padding: 2rem;
		border-radius: var(--theme-shape-radius);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}

	/* Responsive design */
	@media (min-width: 768px) {
		.core-principles {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 1rem;
		}
	}
</style>
