---
import { Header, Button, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';

export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';
import { resolveUrl } from '@utils/helpers';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		<Button slot="action-item" href={resolveUrl('/applications')}>Apply</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
